<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a href="/login">Have an account?</a>
        </p>

        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>

        <ul class="error-messages">
            <%= render "shared/error_messages" , obj: @user %>
        </ul>


    <%= form_with(model: @user, local: true) do |f| %>
    <fieldset>
    <fieldset class="form-group">
        <%= f.text_field :name, class: 'form-control form-control-lg' , placeholder: "Username"%>
    </fieldset>
    <fieldset class="form-group">
    <%= f.text_field  :email, class: 'form-control form-control-lg' , placeholder: "Email"%>
    </fieldset>
    <fieldset class="form-group">
    <%= f.text_field :password, class: 'form-control form-control-lg' , placeholder: "Password"%>
    </fieldset>
    <fieldset class="form-group">
    <%= f.text_field :password_confirmation, class: 'form-control form-control-lg' , placeholder: "Password_Confirm"%>
    </fieldset>
    <%= f.submit "Sign up", class: "btn btn-lg pull-xs-right btn-primary" %>
    </fieldset>
    <% end %>

      </div>
    </div>
  </div>
</div>