<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="http://i.imgur.com/Qr71crq.jpg" class="user-img" />
          <h4> <%= @user.name %> </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="">Articles</a>
            </li>
          </ul>
        </div>

      <% @articles.each do |article| %>
        <div class="article-preview">
          <div class="article-meta">

            <a href="/profile/eric-simons"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
            <div class="info">
              <%= link_to "#{article.user.name}" , user_path(article.user.id), class: "author" %>
              <span class="date"><%= article.created_at.strftime('%Y/%m/%d') %></span>
            </div>
            <button class="btn btn-outline-primary btn-sm pull-xs-right">
              <i class="ion-heart"></i> <%= rand(0..100) %>
            </button>
          </div>

          <%= link_to article_path(article.id) , class: "preview-link" do %>
            <h1><%= article.title %></h1>
            <p><%= article.content %></p>
            <span>Read more...</span>
            <ul class="tag-list">
              <li class="tag-default tag-pill tag-outline"><%= article.tag %></li>
            </ul>
          <% end %>
        </div>
      <% end %>

        <%= will_paginate @articles , renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</div>